.RadioGroupItem {
  background-color: #5856D6;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 100%;
  border: 1px solid #FFFFFF;

  &:hover {
    filter: brightness(0.9);
  }
}

.RadioGroupIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;

  &::after {
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #FFFFFF;
  }
}

.Label {
  color: white;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}